@using PassionStore.Web.Models.Views
@model CartPageView

<div class="modal fade" id="modallong" tabindex="-1" aria-modal="true" role="dialog">
    <div class="modal-dialog modal-fullscreen-md-down modal-md modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title fs-5">Giỏ Hàng</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="shopping-cart">
                    <div class="shopping-cart-content">
                        <div id="cartItems" class="mini-cart cart-list p-0 mt-3">
                            @if (Model == null)
                            {
                                <p class="text-center">Lỗi khi tải giỏ hàng.</p>
                            }
                            else if (!Model.Items.Any())
                            {
                                <p class="text-center">Giỏ hàng trống.</p>
                            }
                            else
                            {
                                @foreach (var item in Model.Items)
                                {
                                    <div class="mini-cart-item d-flex border-bottom pb-3" data-cart-item-key="@item.Id">
                                        <div class="col-lg-2 col-md-3 col-sm-2 me-4">
                                            <a href='@Url.Action("Index", "ProductDetails")?id=@item.ProductId' title="product-image">
                                                <img src="@(item.Images[0].ImageUrl ?? "~/images/placeholder.jpg")" class="img-fluid" alt="@item.ProductName">
                                            </a>
                                        </div>
                                        <div class="col-lg-9 col-md-8 col-sm-8">
                                            <div class="product-header d-flex justify-content-between align-items-center mb-3">
                                                <h4 class="product-title fs-6 me-5">@item.ProductName </h4>
                                                <a href="#" class="remove" onclick="removeCartItem('@item.Id'); return false;" aria-label="Remove this item">
                                                    <svg class="close"><use xlink:href="#close"></use></svg>
                                                </a>
                                            </div>
                                            <div class="quantity-price d-flex justify-content-between align-items-center">
                                                <div class="input-group product-qty">
                                                    <button type="button" class="quantity-left-minus btn btn-light rounded-0 rounded-start btn-number" onclick="updateCartQuantity('@item.Id', @item.Quantity - 1)">
                                                        <svg width="16" height="16"><use xlink:href="#minus"></use></svg>
                                                    </button>
                                                    <input type="text" name="quantity" class="form-control input-number quantity" value="@item.Quantity" readonly>
                                                    <button type="button" class="quantity-right-plus btn btn-light rounded-0 rounded-end btn-number" onclick="updateCartQuantity('@item.Id', @item.Quantity + 1)">
                                                        <svg width="16" height="16"><use xlink:href="#plus"></use></svg>
                                                    </button>
                                                </div>
                                                <div class="price-code">
                                                    <span class="product-price fs-6">@String.Format(new System.Globalization.CultureInfo("vi-VN"), "{0:N0}", item.Price) ₫</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                        <div class="mini-cart-total d-flex justify-content-between py-4">
                            <span class="fs-6">Tổng Cộng:</span>
                            <span class="special-price-code">
                                <span class="price-amount amount fs-6">@String.Format(new System.Globalization.CultureInfo("vi-VN"), "{0:N0}", Model?.Subtotal ?? 0) ₫</span>
                            </span>
                        </div>
                        <div class="modal-footer my-4 justify-content-center">
                            <a href="@Url.Action("Index", "Cart")" class="btn btn-red hvr-sweep-to-right dark-sweep">Xem Giỏ Hàng</a>
                            <a href="@Url.Action("Index", "Checkout")" class="btn btn-outline-gray hvr-sweep-to-right dark-sweep">Thanh Toán</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>